.box {
  margin: 30px;
  width: 100px;
  height: 100px;
  background-color: rebeccapurple;
  background-image: linear-gradient(#f69d3c, #3f87a6);
  transform: translate(120px, 50px);
}

h1 {
  margin-top: 200px;
  background-color: blue;
  transform: rotate(45deg);
}

body {
  background-color: pink;
}

@media (max-width: 50em) {
  body {
    background-color: blue;
  }
}